.left_window {
  width: 50%;
}

.text_title {
  font-weight: bold;
  font-size: 60px;
  color: #6c718f;
}

.text_welcome {
  width: 540px;
  margin-top: 15px;
  color: rgba(108, 113, 143, 1);
  font-size: 18px;
  line-height: 150%;
}

.demo_btn {
  margin-top: 40px;
  width: 262px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(60, 100, 177, 0.4);
  border-radius: 6px;
  font-weight: bold;
  letter-spacing: 0.05em;
  border: none;
}

.right_window {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
