@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

.smoke_wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(102, 102, 102, 0.7);
  left: 0;
  top: 0;
  z-index: 1;
}

.dialog {
  background: white;
  position: fixed;
  top: 40%;
  left: 50%;
  width: 50vw;
  height: 40vh;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dialog > * {
  font-family: "Amatic SC", serif;
}

.add_image_window {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='7' stroke-dasharray='22' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  width: 150px;
  height: 150px;
  padding-bottom: 2vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.add_image_btn {
  letter-spacing: 0.05em;
  font-weight: bold;
  text-align: center;

  width: 145px;
  height: 51px;
  padding: 10px;
  background: rgba(60, 100, 177, 0.4);
  border: none;
  border-radius: 6px;
  display: -moz-box;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}

.add_picture_close_btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -19px;
  right: -18px;
  background: rgb(203 203 203);
  border-radius: 10px;
}
