.header {
  width: 100%;
  height: 100px;
  border-bottom: #c4c4c4 solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header_container {
  width: 1110px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.left_bar {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 0.06em;
  font-weight: bold;
}

.logo {
  font-size: 25px;
}

.links {
  color: #6c718f;
}

.right_bar {
  width: 50%;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  gap: 20px;
}

.right_bar a {
  letter-spacing: 0.05em;
  font-weight: bold;
  text-align: center;
}

.reg_btn {
  width: 255px;
  height: 49px;
  background: rgba(60, 100, 177, 0.4);
  border: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_btn {
  width: 153px;
  height: 49px;
  background: white;
  border: 2px solid rgba(175, 191, 221, 1);
  color: rgba(175, 191, 221, 1);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout_btn {
  letter-spacing: 0.05em;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
