.auth_dialog {
  margin: 42px auto 0 auto;
  width: 730px;
  height: 507px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.auth_header {
  width: 730px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid rgba(196, 196, 196, 0.5);
}

.auth_header_bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth_header_bar_wrapper {
  width: 300px;
}

.auth_header_bar a {
  font-size: 16px;
}

.default_bar {
  padding-top: 9px;
  width: 300px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.active_bar {
  color: rgba(60, 100, 177, 0.6);
  font-weight: bold;
}

.inactive_bar {
  color: rgba(193, 193, 193, 1);
  font-weight: normal;
  letter-spacing: 0.04em;
}

.active_bottom_line {
  position: absolute;
  bottom: 0;
  width: 228px;
  height: 3px;
  border-bottom: 3px solid rgba(138, 162, 208, 1);
}

.input_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 26px;
}

.auth_input {
  width: 624px;
  height: 70px;
  margin-top: 21px;
  padding-left: 24px;
  border: 1px solid rgba(220, 220, 220, 1);
  border-radius: 4px;
  background: rgba(251, 251, 251, 1);
  font-size: 16px;
}

.auth_input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(193, 193, 193, 1);
  opacity: 1; /* Firefox */
}

.auth_input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(193, 193, 193, 1);
}

.auth_input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(193, 193, 193, 1);
}

.auth_footer {
  margin: 42px auto;
  width: 624px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.checkbox_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox {
  width: 27px;
  height: 27px;
  transition-duration: 0.3s;
  border: none;
  background-color: rgba(196, 196, 196, 1);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.checkbox:checked {
  border: 1px solid black;
  background-color: white;
}

.checkbox:checked:after {
  content: "\2713";
  display: block;
  text-align: center;
  font-size: 18px;
}

.checkbox_text {
  margin-left: 14px;
  letter-spacing: 0.04em;
  font-size: 16px;
  color: rgba(106, 106, 106, 1);
}

.auth_reg_btn {
  width: 262px;
  height: 62px;
  background: rgba(60, 100, 177, 0.4);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.05em;
  font-weight: bold;
}

.auth_login_btn {
  margin: 42px auto 0 auto;
  width: 624px;
  height: 62px;
  background: rgba(60, 100, 177, 0.4);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.05em;
  font-weight: bold;
}

.forget_password_btn {
  margin: 34px auto 0 auto;
  color: rgba(34, 153, 221, 0.56);
  font-size: 16px;
  text-decoration-line: underline;
}
