.active_zone {
  display: flex;
  justify-content: space-between;
}

.add_network_dialog {
  width: 75px;
  height: 342px;
  background: #ffffff;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.dialog_title {
  padding: 10px 0 0 0;
}

.network_btn {
  width: 45px;
  height: 40px;
  background: rgba(60, 100, 177, 0.4);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
