.container {
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: row;
}

.left_window {
  width: 550px;
}

.post_textarea {
  width: 100%;
  height: 253px;
  padding: 36px 39px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  border: none;
  outline: none;
  resize: none;
}

.post_textarea::placeholder {
  color: rgba(108, 113, 143, 0.5);
}

.post_additional {
  margin-top: 33px;
  width: 100%;
  height: 86px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post_additional_left {
  display: flex;
  flex-direction: column;
}

.post_additional_title {
  margin: 0;
  color: rgba(108, 113, 143, 1);
  font-size: 18px;
  text-decoration-line: underline;
}

.picture_flexbox {
  margin: 15px 0 0 0;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

.delete_picture_btn {
  position: absolute;
  bottom: 48px;
  left: 48px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  border-radius: 38px;
  cursor: pointer;
  width: 13px;
  height: 13px;
}

.add_picture_btn {
  margin-left: 4px;
  border-radius: 38px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  position: relative;
  width: 34px;
  height: 34px;
}

.footer_div {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.send_post_btn {
  width: 270px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(60, 100, 177, 0.4);
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.right_window {
  width: 277px;
  height: fit-content;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.right_window_title {
  height: 29px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.social_network_elements_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px 0;
}

.social_network_element_wrapper {
  width: 267px;
}

.social_network_element {
  width: fit-content;
  height: 40px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.social_network_logo {
  width: 45px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(60, 100, 177, 0.4);
  border-radius: 10px;
}

.social_network_text {
  align-self: center;
  padding-left: 5px;
}

.time_dialog {
  width: 277px;
  height: 97px;
  background: #ffffff;
  border-top: 1px solid #c4c4c4;
  border-radius: 0px 0px 6px 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
  align-items: center;
  font-size: 16px;
}

.time_title {
  font-weight: 700;
}

.time_body {
  font-weight: 300;
}

.active_btn {
  font-weight: 300;
  text-decoration-line: underline;
  color: rgba(34, 153, 221, 0.56);
  cursor: pointer;
}
