.main_window {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
}

.control_panel {
  margin: 0;
  width: 200px;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
  grid-gap: 16px;
  gap: 16px;
  border-right: 1px solid #c4c4c4;
}

.control_panel li {
  width: 150px;
  height: 20px;
  align-self: center;
}

.category_name {
  cursor: pointer;
}

.active_panel {
  width: calc(1110px - 200px);
  margin: 0 0 0 20px;
  padding: 20px 0 0 0;
}
