html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  background: rgba(251, 251, 251, 1);
}

a,
img,
div {
  color: inherit;
  text-decoration: none;
  /*block select option*/
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /*block draggable link*/
  -webkit-user-drag: none;
  -moz-user-drag: none;
  user-drag: none;
}

p {
  /*block select option*/
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

button {
  border: none;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 32px auto;
  width: 1110px;
  display: flex;
  flex-direction: row;
}
