.dashboard {
  display: flex;
  gap: 90px;
  flex-wrap: wrap;
}

.add_project {
  align-items: center;
  gap: 15px;
}

.dashboard li {
  width: 280px;
  height: 150px;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard li > span {
  font-weight: 700;
  font-size: 14px;
}

.element_title {
  align-self: flex-end;
  padding: 20px 20px 0 0;
}

.element_footer {
  padding: 0 0 10px 10px;
  display: flex;
  flex-direction: row;
  gap:10px;
}
