.loadBar {
  background: #2299dd;
  /* width: 100vw; */
  height: 10px;
  position: fixed;
  animation: loadingAnimation 3s ease-in-out;
}

@keyframes loadingAnimation {
  0% {
    width: 0;
  }
  30% {
    width: 30vw;
  }
}
